# === SERVIDOR ===
PORT=3000

# === FACILITAFLOW (OBRIGATÓRIO) ===
# Esse é o token que o FacilitaFlow exige no BODY com o nome tokenWebhook
FF_TOKEN_WEBHOOK=COLE_AQUI_SEU_TOKENWEBHOOK

# (opcional) URL padrão do FacilitaFlow
FF_SENDWEBHOOK_URL=https://licenca.facilitaflow.com.br/sendWebhook

# === PAGSCHOOL (OPCIONAL para usar /boleto) ===
PAGSCHOOL_BASE_URL=https://sistema.pagschool.com.br/prod/api
PAGSCHOOL_JWT_TOKEN=COLE_AQUI_SEU_JWT
# Se o endpoint real do PagSchool for diferente, você troca aqui sem mexer no código:
PAGSCHOOL_BOLETO_ENDPOINT=/boleto

# (opcional) seu codigoEscola padrão, se você quiser
PAGSCHOOL_CODIGO_ESCOLA_PADRAO=6538
