PORT=3000

# PagSchool
PAGSCHOOL_ENDPOINT=
PAGSCHOOL_EMAIL=
PAGSCHOOL_PASSWORD=

# FacilitaFlow
FACILITAFLOW_SENDWEBHOOK_URL=
FACILITAFLOW_API_TOKEN=
FACILITAFLOW_TOKENWEBHOOK=

# App
PUBLIC_BASE_URL=
