PORT=3000

# PagSchool
PAGSCHOOL_ENDPOINT=https://sistema.pagschool.com.br/prod/api
PAGSCHOOL_EMAIL=sescpaulo@gmail.com
PAGSCHOOL_PASSWORD=123456


# FacilitaFlow
FACILITAFLOW_SENDWEBHOOK_URL=https://licenca.facilitaflow.com.br/sendWebhook
FACILITAFLOW_API_TOKEN=a2512e04fff6bb63e4bd0b079a73faad38a852d8691a8f5b78a46ca426095c53
FACILITAFLOW_TOKENWEBHOOK=a2512e04fff6bb63e4bd0b079a73faad38a852d8691a8f5b78a46ca426095c53

PUBLIC_BASE_URL=https://pagschool-boleto-bot-1.onrender.com
PORT=3000
